<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Zarządzanie siecią siłowni
  </h1>
</div>
<h2>Opcje:</h2>

<h2>Klienci</h2>
<button type="button" routerLink="/klient-dodaj" routerLinkActive="activate">DODAJ KLIENTA</button>
<button type="button" routerLink="/klient-usun" routerLinkActive="activate">USUN KLIENTA</button>
<h2>Silownia</h2>
<button type="button" routerLink="/silownia-dodaj" routerLinkActive="activate">DODAJ SILOWNIE</button>
<button type="button" routerLink="/silownia-usun" routerLinkActive="activate">USUN SILOWNIE</button>
<h2>Sprzet</h2>
<button type="button" routerLink="/sprzet-dodaj" routerLinkActive="activate">DODAJ SPRZET</button>
<button type="button" routerLink="/sprzet-usun" routerLinkActive="activate">USUN SPRZET</button>
<br>
<br>
<br>
<br>
<router-outlet></router-outlet>
